In [1]:
import pandas as pd

In [13]:
import yfinance as yf
import pandas as pd
import numpy as np

# Define the tickers for the Big Four companies
tickers = ['AMZN', 'AAPL', 'NFLX', 'GOOGL']

# Function to fetch historical data for a given ticker
def fetch_data(ticker):
    stock = yf.Ticker(ticker)
    all_years_data = []
    
    # Iterate over each year from 2010 to 2024
    for year in range(2023, 2025):
        start_date = f"{year}-01-01"
        end_date = f"{year}-12-31"

        # Fetch historical market data for the year
        hist = stock.history(start=start_date, end=end_date)
        
        #print keys of hist
        print(hist.keys())
        
        if not hist.empty:
            for index, row in hist.iterrows():
                all_years_data.append({
                    'Date': index,
                    'Ticker': ticker,
                    'Open': row['Open'],
                    'Close': row['Close'],
                    'High': row['High'],
                    'Low': row['Low'],
                    'Volume': row['Volume'],

                })
    
    # Return a DataFrame containing all the historical data for this ticker
    return pd.DataFrame(all_years_data)

# Initialize an empty DataFrame to store combined data for all tickers
combined_data = pd.DataFrame()

# Fetch and combine data for each ticker
for ticker in tickers:
    ticker_data = fetch_data(ticker)
    combined_data = pd.concat([combined_data, ticker_data], ignore_index=True)

# Optionally, save the combined data to a CSV file
# combined_data.to_csv('big_four_tech_stocks_2010_2024.csv', index=False)

combined_data.head()  # Display the first few rows of the combined dataset

#combined_data.info()

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

,Date,Ticker,Open,Close,High,Low,Volume
0,2023-01-03 00:00:00-05:00,AMZN,85.459999,85.820000,86.959999,84.209999,76706000.0
1,2023-01-04 00:00:00-05:00,AMZN,86.550003,85.139999,86.980003,83.360001,68885100.0
2,2023-01-05 00:00:00-05:00,AMZN,85.330002,83.120003,85.419998,83.070000,67930800.0
3,2023-01-06 00:00:00-05:00,AMZN,83.029999,86.080002,86.400002,81.430000,83303400.0
4,2023-01-09 00:00:00-05:00,AMZN,87.459999,87.360001,89.480003,87.080002,65266100.0