In [1]:
from data_generator import download_stock_df
import pandas as pd
import yfinance as yf
from datetime import datetime
import pandas_ta as ta
import talib

pip install pandas-ta

https://github.com/twopirllc/pandas-ta/blob/main/examples/example.ipynb

Für TA-lib:

https://github.com/cgohlke/talib-build/releases <-- herunterladen und mit pip install dieses wheel installieren

bei Raphael: 
- (base) C:\Users\rapha>conda activate stocks
- (file an richtigen Ort verschieben)
- (stocks) C:\Users\rapha>pip install TA_Lib-0.4.28-cp311-cp311-win_amd64.whl

Note: TA Lib must be installed to use all the Candlestick Patterns. pip install TA-Lib. If TA Lib is not installed, then only the builtin Candlestick Patterns will be available.

In [49]:
tech_stocks = ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'TSLA', 'NVDA', 'INTC', 'AMD', 'QCOM', 'IBM']
df = download_stock_df(tech_stocks)
df.head(10000)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Symbol,3ma,7ma,14ma,21ma,28ma,RSI_14,RSI_no_shift
Date,,,,,,,,,,,,,,
2003-01-02,0.256429,0.266429,0.256250,0.264286,0.223744,181428800,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-02,75.334610,77.026772,74.751434,77.026772,42.718849,8226267,IBM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-02,18.309999,18.584999,18.059999,18.570000,11.932067,31695600,QCOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-02,6.560000,7.110000,6.470000,7.010000,7.010000,17474800,AMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-02,16.020000,16.730000,15.660000,16.690001,9.651302,57135100,INTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-08-07,12.660000,12.800000,12.380000,12.630000,12.630000,27107800,AMD,13.006667,13.375714,14.375000,14.630952,14.568571,15.505613,16.389542
2007-08-07,108.049713,109.149139,107.313576,108.537285,62.956772,8390384,IBM,108.033780,108.145315,109.312346,107.701903,106.223709,56.718353,55.264284
2007-08-07,24.040001,24.320000,23.750000,24.129999,14.798000,59835600,INTC,24.113333,23.878571,24.269286,24.691428,24.575357,29.477593,38.630793
2007-08-07,3.927500,4.000000,3.894500,3.957000,3.957000,161186000,AMZN,3.925167,3.986429,3.884214,3.800071,3.711125,56.821154,57.686214
2007-08-07,41.029999,41.500000,39.709999,40.500000,27.037903,34372300,QCOM,41.530000,41.690000,42.402857,43.092381,43.218571,32.123220,27.669917

In [40]:
testy = yf.Ticker('AAPL').history(period='5d')
testy.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-15 00:00:00-04:00,175.360001,176.630005,172.500000,172.690002,73531800,0.0,0.0
2024-04-16 00:00:00-04:00,171.750000,173.759995,168.270004,169.380005,73711200,0.0,0.0
2024-04-17 00:00:00-04:00,169.610001,170.649994,168.000000,168.000000,50901200,0.0,0.0
2024-04-18 00:00:00-04:00,168.029999,168.639999,166.550003,167.039993,43122900,0.0,0.0
2024-04-19 00:00:00-04:00,166.210007,166.399994,164.080002,165.000000,67772100,0.0,0.0

In [51]:
testy = yf.Ticker('AAPL')
testy.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 161000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 1,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1711929600,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 165.0,
 'open': 165.75,
 'dayLow': 165.35,
 'dayHigh': 165.92,
 'regularMarketPreviousClose': 165.0,
 'regularMarketOpen': 165.75,
 'regularMarketDayLow': 165.35,
 'regularMarketDayHigh': 165.92,
 'dividendRate': 0.96,
 'dividendYield': 0.0058,
 'exDividendDate': 1707436800,
 'payoutRatio': 0.14770001,
 'fiveYearAvgDividendYield': 0.74,
 'beta': 1.276,
 'trailingPE': 25.736021,
 'forwardPE': 24.735815,
 'volume': 1988056,
 'regularMarketVolume': 1988056,
 'averageVolume': 61590253,
 'averageVolume10days': 63128880,
 'averageDailyVolume10Day': 63128880,
 'bid': 165.3,
 'ask': 165.67,
 'bidSize': 200,
 'askSize': 100,
 'marketCap': 2555365818368,
 'fiftyTwoWeekLow': 162.8,
 'fiftyTwoWeekHigh': 199.62,
 'priceToSalesTrailing12Months': 6.625165,
 'fiftyDayAverage': 175.1372,
 'twoHundredDayAverage': 182.1997,
 'trailingAnnualDividendRate': 0.95,
 'trailingAnnualDividendYield': 0.005757576,
 'currency': 'USD',
 'enterpriseValue': 2582850306048,
 'profitMargins': 0.26163,
 'floatShares': 15414548871,
 'sharesOutstanding': 15441899520,
 'sharesShort': 108782648,
 'sharesShortPriorMonth': 111927679,
 'sharesShortPreviousMonthDate': 1709164800,
 'dateShortInterest': 1711584000,
 'sharesPercentSharesOut': 0.0069999998,
 'heldPercentInsiders': 0.059359998,
 'heldPercentInstitutions': 0.56658,
 'shortRatio': 1.48,
 'shortPercentOfFloat': 0.0069999998,
 'impliedSharesOutstanding': 15563200512,
 'bookValue': 4.793,
 'priceToBook': 34.52589,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1703894400,
 'earningsQuarterlyGrowth': 0.131,
 'netIncomeToCommon': 100912996352,
 'trailingEps': 6.43,
 'forwardEps': 6.69,
 'pegRatio': 2.61,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 6.696,
 'enterpriseToEbitda': 19.851,
 '52WeekChange': -0.0019959807,
 'SandP52WeekChange': 0.2006725,
 'lastDividendValue': 0.24,
 'lastDividendDate': 1707436800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 165.4826,
 'targetHighPrice': 234.35,
 'targetLowPrice': 148.11,
 'targetMeanPrice': 186.93,
 'targetMedianPrice': 187.48,
 'recommendationMean': 2.2,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 39,
 'totalCash': 73100001280,
 'totalCashPerShare': 4.734,
 'ebitda': 130108997632,
 'totalDebt': 108040003584,
 'quickRatio': 0.92,
 'currentRatio': 1.073,
 'totalRevenue': 385706000384,
 'debtToEquity': 145.803,
 'revenuePerShare': 24.648,
 'returnOnAssets': 0.21181,
 'returnOnEquity': 1.5426899,
 'freeCashflow': 86563127296,
 'operatingCashflow': 116433002496,
 'earningsGrowth': 0.16,
 'revenueGrowth': 0.021,
 'grossMargins': 0.45027,
 'ebitdaMargins': 0.33733,
 'operatingMargins': 0.33764,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.0302}

In [45]:
testy.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2023-02-10 00:00:00-05:00    0.230000
2023-05-12 00:00:00-04:00    0.240000
2023-08-11 00:00:00-04:00    0.240000
2023-11-10 00:00:00-05:00    0.240000
2024-02-09 00:00:00-05:00    0.240000
Name: Dividends, Length: 82, dtype: float64

In [34]:
testy.options

('2024-04-26',
 '2024-05-03',
 '2024-05-10',
 '2024-05-17',
 '2024-05-24',
 '2024-05-31',
 '2024-06-21',
 '2024-07-19',
 '2024-08-16',
 '2024-09-20',
 '2024-10-18',
 '2024-11-15',
 '2024-12-20',
 '2025-01-17',
 '2025-03-21',
 '2025-06-20',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18',
 '2026-12-18')

In [35]:
testy.option_chain(date='2024-04-26')

Options(calls=         contractSymbol             lastTradeDate  strike  lastPrice    bid  \
0   AAPL240426C00100000 2024-04-19 19:04:51+00:00   100.0      65.06  64.60
1   AAPL240426C00110000 2024-04-19 15:17:35+00:00   110.0      55.19  54.65
2   AAPL240426C00125000 2024-04-19 19:04:33+00:00   125.0      40.08  39.70
3   AAPL240426C00130000 2024-04-11 19:18:19+00:00   130.0      44.86  34.70
4   AAPL240426C00135000 2024-04-19 16:10:21+00:00   135.0      29.75  29.70
5   AAPL240426C00140000 2024-04-19 19:51:03+00:00   140.0      25.30  24.25
6   AAPL240426C00145000 2024-04-19 17:11:34+00:00   145.0      20.10  19.70
7   AAPL240426C00149000 2024-04-19 19:08:14+00:00   149.0      16.24  15.95
8   AAPL240426C00150000 2024-04-19 19:45:17+00:00   150.0      15.18  15.00
9   AAPL240426C00155000 2024-04-19 19:46:35+00:00   155.0      10.50  10.25
10  AAPL240426C00157500 2024-04-19 19:39:40+00:00   157.5       8.05   7.95
11  AAPL240426C00160000 2024-04-19 19:57:34+00:00   160.0       5.90   5.80
12  AAPL240426C00162500 2024-04-19 19:58:40+00:00   162.5       3.95   3.85
13  AAPL240426C00165000 2024-04-19 19:59:59+00:00   165.0       2.37   2.30
14  AAPL240426C00167500 2024-04-19 19:59:55+00:00   167.5       1.23   1.21
15  AAPL240426C00170000 2024-04-19 19:59:59+00:00   170.0       0.59   0.59
16  AAPL240426C00172500 2024-04-19 19:59:54+00:00   172.5       0.27   0.27
17  AAPL240426C00175000 2024-04-19 19:59:41+00:00   175.0       0.14   0.14
18  AAPL240426C00177500 2024-04-19 19:59:27+00:00   177.5       0.08   0.07
19  AAPL240426C00180000 2024-04-19 19:59:42+00:00   180.0       0.04   0.04
20  AAPL240426C00185000 2024-04-19 19:59:41+00:00   185.0       0.03   0.01
21  AAPL240426C00190000 2024-04-19 19:47:34+00:00   190.0       0.01   0.01
22  AAPL240426C00195000 2024-04-19 19:51:20+00:00   195.0       0.01   0.00
23  AAPL240426C00200000 2024-04-19 19:54:36+00:00   200.0       0.01   0.00
24  AAPL240426C00205000 2024-04-19 19:54:49+00:00   205.0       0.01   0.00
25  AAPL240426C00210000 2024-04-18 15:11:07+00:00   210.0       0.01   0.00
26  AAPL240426C00215000 2024-04-16 14:52:47+00:00   215.0       0.01   0.00
27  AAPL240426C00220000 2024-04-16 16:05:10+00:00   220.0       0.01   0.00
28  AAPL240426C00225000 2024-03-28 16:27:35+00:00   225.0       0.02   0.00
29  AAPL240426C00230000 2024-04-12 17:15:24+00:00   230.0       0.01   0.00
30  AAPL240426C00235000 2024-04-11 19:20:16+00:00   235.0       0.01   0.00
31  AAPL240426C00250000 2024-03-27 13:55:39+00:00   250.0       0.03   0.00
32  AAPL240426C00260000 2024-04-12 19:50:02+00:00   260.0       0.01   0.00
33  AAPL240426C00265000 2024-04-15 13:31:39+00:00   265.0       0.01   0.00

      ask     change  percentChange  volume  openInterest  impliedVolatility  \
0   65.45  -4.940002      -7.057146       8            13           1.445315
1   55.65  -9.210003     -14.301247       4             1           1.480471
2   40.55 -10.639999     -20.977917       2             4           1.033208
3   35.50   0.000000       0.000000       3             6           0.875001
4   30.70  -4.820000     -13.942724       3             3           0.843752
5   25.50  -1.980001      -7.258070       3            26           0.859376
6   20.65  -4.150000     -17.113401      69            12           0.570317
7   16.45  -1.910000     -10.523416      27             6           0.578129
8   15.45  -2.340000     -13.356166     226           239           0.549321
9   10.50  -1.870000     -15.117218     374           194           0.414557
10   8.15  -2.139999     -21.000977    1003            47           0.367682
11   5.95  -1.850000     -23.870966    1133           715           0.332038
12   4.00  -1.550000     -28.181818    3703           265           0.305427
13   2.38  -1.440000     -37.795277   16916          2788           0.281990
14   1.26  -1.130000     -47.881350   30760          3327           0.270027
15   0.60  -0.670000     -53.174603   37891         19835           0.266121
16   0.28  -0.370000     -57.812500   15407         11806           0.271492
17   0.15  -0.160000     -53.333336   17783         23528           0.289070
18   0.08  -0.060000     -42.857143    6158         11640           0.304694
19   0.05  -0.030000     -42.857143   11779         36618           0.326179
20   0.03  -0.010000     -25.000000   13035         28890           0.384772
21   0.02  -0.020000     -66.666670     725          8340           0.441412
22   0.01   0.000000       0.000000     156          9481           0.476568
23   0.01   0.000000       0.000000      39          8269           0.500005
24   0.01   0.000000       0.000000       1           604           0.562504
25   0.01   0.000000       0.000000     128          1645           0.625004
26   0.01   0.000000       0.000000       4           165           0.671878
27   0.01   0.000000       0.000000       1            24           0.718753
28   0.01   0.000000       0.000000      26           141           0.781252
29   0.01   0.000000       0.000000      70            72           0.828127
30   0.01   0.000000       0.000000      10            36           0.875001
31   0.01   0.000000       0.000000       2             2           1.000005
32   0.01   0.000000       0.000000       2             3           1.093755
33   0.01   0.000000       0.000000       1             9           1.125004

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
5         True      REGULAR      USD
6         True      REGULAR      USD
7         True      REGULAR      USD
8         True      REGULAR      USD
9         True      REGULAR      USD
10        True      REGULAR      USD
11        True      REGULAR      USD
12        True      REGULAR      USD
13       False      REGULAR      USD
14       False      REGULAR      USD
15       False      REGULAR      USD
16       False      REGULAR      USD
17       False      REGULAR      USD
18       False      REGULAR      USD
19       False      REGULAR      USD
20       False      REGULAR      USD
21       False      REGULAR      USD
22       False      REGULAR      USD
23       False      REGULAR      USD
24       False      REGULAR      USD
25       False      REGULAR      USD
26       False      REGULAR      USD
27       False      REGULAR      USD
28       False      REGULAR      USD
29       False      REGULAR      USD
30       False      REGULAR      USD
31       False      REGULAR      USD
32       False      REGULAR      USD
33       False      REGULAR      USD  , puts=         contractSymbol             lastTradeDate  strike  lastPrice    bid  \
0   AAPL240426P00100000 2024-04-19 19:19:29+00:00   100.0       0.01   0.00
1   AAPL240426P00105000 2024-04-19 19:00:38+00:00   105.0       0.01   0.00
2   AAPL240426P00110000 2024-04-19 17:41:59+00:00   110.0       0.01   0.00
3   AAPL240426P00115000 2024-04-19 19:00:24+00:00   115.0       0.01   0.00
4   AAPL240426P00120000 2024-04-19 15:50:35+00:00   120.0       0.01   0.00
5   AAPL240426P00125000 2024-04-19 15:52:05+00:00   125.0       0.02   0.01
6   AAPL240426P00130000 2024-04-19 16:18:16+00:00   130.0       0.01   0.00
7   AAPL240426P00135000 2024-04-19 19:28:00+00:00   135.0       0.02   0.01
8   AAPL240426P00140000 2024-04-19 19:43:34+00:00   140.0       0.03   0.02
9   AAPL240426P00145000 2024-04-19 19:43:59+00:00   145.0       0.04   0.02
10  AAPL240426P00146000 2024-04-19 18:47:38+00:00   146.0       0.05   0.03
11  AAPL240426P00147000 2024-04-19 19:59:00+00:00   147.0       0.05   0.04
12  AAPL240426P00148000 2024-04-19 19:45:56+00:00   148.0       0.05   0.05
13  AAPL240426P00149000 2024-04-19 19:57:59+00:00   149.0       0.06   0.05
14  AAPL240426P00150000 2024-04-19 19:57:13+00:00   150.0       0.08   0.08
15  AAPL240426P00155000 2024-04-19 19:59:42+00:00   155.0       0.22   0.20
16  AAPL240426P00157500 2024-04-19 19:59:55+00:00   157.5       0.40   0.39
17  AAPL240426P00160000 2024-04-19 19:59:57+00:00   160.0       0.71   0.71
18  AAPL240426P00162500 2024-04-19 19:59:51+00:00   162.5       1.27   1.26
19  AAPL240426P00165000 2024-04-19 19:59:58+00:00   165.0       2.22   2.18
20  AAPL240426P00167500 2024-04-19 19:58:23+00:00   167.5       3.55   3.55
21  AAPL240426P00170000 2024-04-19 19:59:50+00:00   170.0       5.31   5.20
22  AAPL240426P00172500 2024-04-19 19:52:25+00:00   172.5       7.72   7.35
23  AAPL240426P00175000 2024-04-19 19:57:13+00:00   175.0      10.05   9.75
24  AAPL240426P00177500 2024-04-19 19:43:12+00:00   177.5      12.60  12.15
25  AAPL240426P00180000 2024-04-19 19:56:54+00:00   180.0      15.00  14.65
26  AAPL240426P00185000 2024-04-19 19:52:09+00:00   185.0      20.05  19.65
27  AAPL240426P00190000 2024-04-19 19:31:12+00:00   190.0      24.85  24.65
28  AAPL240426P00195000 2024-04-19 16:10:01+00:00   195.0      30.40  29.70
29  AAPL240426P00200000 2024-04-19 13:33:51+00:00   200.0      33.85  34.70
30  AAPL240426P00205000 2024-04-19 19:21:04+00:00   205.0      39.95  39.70
31  AAPL240426P00210000 2024-04-03 19:49:38+00:00   210.0      39.92  44.65
32  AAPL240426P00235000 2024-03-11 15:46:06+00:00   235.0      61.98  66.95
33  AAPL240426P00240000 2024-04-10 17:19:23+00:00   240.0      71.95  74.70

      ask    change  percentChange   volume  openInterest  impliedVolatility  \
0    0.01  0.000000       0.000000     14.0          1276           1.250004
1    0.01  0.000000       0.000000      1.0            56           1.125004
2    0.02  0.000000       0.000000      7.0           159           1.093755
3    0.01  0.000000       0.000000    529.0           106           0.906251
4    0.03  0.000000       0.000000     40.0           128           0.906251
5    0.03  0.000000       0.000000      7.0           171           0.820314
6    0.02 -0.010000     -50.000000    918.0           157           0.671878
7    0.02 -0.010000     -33.333336    200.0           329           0.593754
8    0.04 -0.010000     -25.000000    546.0           830           0.539067
9    0.05 -0.010000     -20.000004    272.0           870           0.464849
10   0.06  0.000000       0.000000    218.0           577           0.457037
11   0.07  0.000000       0.000000    261.0           148           0.445318
12   0.06 -0.010000     -16.666664    138.0           327           0.412115
13   0.07 -0.010000     -14.285716    373.0           834           0.400397
14   0.09 -0.010000     -11.111116   2328.0          3547           0.393561
15   0.23  0.040000      22.222216   4485.0          6174           0.337897
16   0.43  0.100000      33.333332   4238.0           839           0.321296
17   0.73  0.200000      39.215683  12401.0         10265           0.296394
18   1.32  0.370000      41.111110   9375.0          2832           0.282234
19   2.30  0.670000      43.225815  20893.0          9941           0.272468
20   3.65  1.010000      39.763780   4733.0          3984           0.255867
21   5.60  1.330000      33.417084   5685.0          6434           0.266121
22   7.85  1.720000      28.666664   1250.0          3057           0.289070
23  10.25  1.970000      24.381191    886.0          5815           0.324226
24  12.85  2.200001      21.153854   4034.0          1872           0.413580
25  15.35  2.050000      15.830117   1321.0           113           0.471685
26  20.40  2.209999      12.387887    603.0            47           0.598637
27  25.40  2.000000       8.752735    144.0             6           0.702151
28  30.40  3.369999      12.467625      1.0             1           0.570317
29  35.40  0.649998       1.957825      3.0             3           0.644535
30  40.40  2.810001       7.565971      5.0             3           0.714847
31  45.40  0.000000       0.000000      3.0             0           0.726565
32  67.55  0.000000       0.000000      2.0             0           0.000010
33  75.40  0.000000       0.000000      NaN             0           1.148442

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
5        False      REGULAR      USD
6        False      REGULAR      USD
7        False      REGULAR      USD
8        False      REGULAR      USD
9        False      REGULAR      USD
10       False      REGULAR      USD
11       False      REGULAR      USD
12       False      REGULAR      USD
13       False      REGULAR      USD
14       False      REGULAR      USD
15       False      REGULAR      USD
16       False      REGULAR      USD
17       False      REGULAR      USD
18       False      REGULAR      USD
19       False      REGULAR      USD
20        True      REGULAR      USD
21        True      REGULAR      USD
22        True      REGULAR      USD
23        True      REGULAR      USD
24        True      REGULAR      USD
25        True      REGULAR      USD
26        True      REGULAR      USD
27        True      REGULAR      USD
28        True      REGULAR      USD
29        True      REGULAR      USD
30        True      REGULAR      USD
31        True      REGULAR      USD
32        True      REGULAR      USD
33        True      REGULAR      USD  , underlying={'language': 'en-US', 'region': 'US', 'quoteType': 'EQUITY', 'typeDisp': 'Equity', 'quoteSourceName': 'Nasdaq Real Time Price', 'triggerable': True, 'customPriceAlertConfidence': 'HIGH', 'currency': 'USD', 'marketState': 'CLOSED', 'regularMarketChangePercent': -1.2212604, 'regularMarketPrice': 165.0, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'messageBoardId': 'finmb_24937', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'gmtOffSetMilliseconds': -14400000, 'market': 'us_market', 'esgPopulated': False, 'hasPrePostMarketData': True, 'firstTradeDateMilliseconds': 345479400000, 'priceHint': 2, 'postMarketChangePercent': -0.218182, 'postMarketTime': 1713571198, 'postMarketPrice': 164.64, 'postMarketChange': -0.360001, 'regularMarketChange': -2.0399933, 'regularMarketTime': 1713556801, 'regularMarketDayHigh': 166.4, 'regularMarketDayRange': '164.08 - 166.4', 'regularMarketDayLow': 164.08, 'regularMarketVolume': 67326599, 'regularMarketPreviousClose': 167.04, 'bid': 164.9, 'ask': 165.05, 'bidSize': 8, 'askSize': 6, 'fullExchangeName': 'NasdaqGS', 'financialCurrency': 'USD', 'regularMarketOpen': 166.12, 'averageDailyVolume3Month': 61567136, 'averageDailyVolume10Day': 63128880, 'fiftyTwoWeekLowChange': 2.199997, 'fiftyTwoWeekLowChangePercent': 0.013513494, 'fiftyTwoWeekRange': '162.8 - 199.62', 'fiftyTwoWeekHighChange': -34.619995, 'fiftyTwoWeekHighChangePercent': -0.17342949, 'fiftyTwoWeekLow': 162.8, 'fiftyTwoWeekHigh': 199.62, 'fiftyTwoWeekChangePercent': -0.19959807, 'dividendDate': 1707955200, 'earningsTimestamp': 1714680000, 'earningsTimestampStart': 1714680000, 'earningsTimestampEnd': 1714680000, 'trailingAnnualDividendRate': 0.95, 'trailingPE': 25.660965, 'dividendRate': 0.96, 'trailingAnnualDividendYield': 0.0056872605, 'dividendYield': 0.58, 'epsTrailingTwelveMonths': 6.43, 'epsForward': 7.13, 'epsCurrentYear': 6.54, 'priceEpsCurrentYear': 25.229359, 'sharesOutstanding': 15441899520, 'bookValue': 4.793, 'fiftyDayAverage': 175.1372, 'fiftyDayAverageChange': -10.137207, 'fiftyDayAverageChangePercent': -0.057881515, 'twoHundredDayAverage': 182.1997, 'twoHundredDayAverageChange': -17.199707, 'twoHundredDayAverageChangePercent': -0.0944003, 'marketCap': 2547913326592, 'forwardPE': 23.141655, 'priceToBook': 34.4252, 'sourceInterval': 15, 'exchangeDataDelayedBy': 0, 'averageAnalystRating': '2.2 - Buy', 'tradeable': False, 'cryptoTradeable': False, 'displayName': 'Apple', 'symbol': 'AAPL'})

yfinance

sector, industry
dividens gehen lange zurück

In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime

# Anpassungen an Datenaggregation

def rsi_calculation(series, periods=14, shift=1):
    delta = series.diff()
    #shift ensures that there occurs no data leakage
    gain = (delta.where(delta > 0, 0)).rolling(window=periods).mean().shift(shift)
    loss = (-delta.where(delta < 0, 0)).rolling(window=periods).mean().shift(shift)
    rs = gain / loss
    rsi = 100 - (100 / (1 + rs))
    return rsi

def download_stock_df(tech_list):
    end = datetime.strptime('2023-01-01', '%Y-%m-%d')
    start = datetime(end.year - 20, end.month, end.day)

    company_list = []

    for stock in tech_list:
        df = yf.download(stock, start, end)
        df['Symbol'] = stock  # Ensure 'Symbol' is a column
        company_list.append(df)

    # Concatenate with Symbol as part of the index if that is the intended structure
    df = pd.concat(company_list)
    
    
    for window in [3, 7, 14, 21, 28]:
        df[f'{window}ma'] = df.groupby('Symbol')['Close'].transform(lambda x: x.shift(1).rolling(window).mean())

    # Calculate RSI for each group and ensure the index aligns correctly
    df['RSI_14'] = df.groupby('Symbol')['Close'].transform(lambda x: rsi_calculation(x, 14, 1))
    df['RSI_no_shift'] = df.groupby('Symbol')['Close'].transform(lambda x: rsi_calculation(x, 14, 0)) #only to ensure that the shift is working correctly

    df.sort_values(by=['Date'], inplace=True)
    return df

In [2]:
df = download_stock_df(["AAPL", "MSFT", "AMZN"])

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume,Symbol,3ma,7ma,14ma,21ma,28ma,RSI_14,RSI_no_shift
Date,,,,,,,,,,,,,,
2003-01-02,0.256429,0.266429,0.256250,0.264286,0.223744,181428800,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-02,26.150000,26.875000,25.855000,26.860001,16.621490,67025200,MSFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-02,0.959500,0.984000,0.927500,0.978500,0.978500,129680000,AMZN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-03,0.264286,0.266607,0.260536,0.266071,0.225256,147453600,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-03,26.795000,26.900000,26.440001,26.895000,16.643150,55546800,MSFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-29,235.649994,241.919998,235.649994,241.009995,238.450806,19770700,MSFT,236.740000,239.298571,244.875714,246.339523,245.712142,39.864029,43.854585
2022-12-29,127.989998,130.479996,127.730003,129.610001,128.725327,75703700,AAPL,129.310000,131.468570,136.376428,139.289048,141.738214,26.152341,30.302110
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.043121,77034200,AAPL,128.560000,131.074285,135.445000,138.738572,140.984285,30.302110,31.430277
2022-12-30,238.210007,239.960007,236.660004,239.820007,237.273453,21938500,MSFT,237.500000,239.378571,244.419285,246.371904,245.688214,43.854585,44.531255
2022-12-30,83.120003,84.050003,82.470001,84.000000,84.000000,62401200,AMZN,83.013334,84.291429,86.784285,88.534285,89.747499,37.309752,39.044345

In [12]:
import talib
import numpy as np
c = np.random.randn(100)

# this is the library function
k, d = talib.STOCHRSI(c)

# this produces the same result, calling STOCHF
rsi = talib.RSI(c)
k, d = talib.STOCHF(rsi, rsi, rsi)

# you might want this instead, calling STOCH
rsi = talib.RSI(c)
k, d = talib.STOCH(rsi, rsi, rsi)

k

array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan, 15.92341767, 49.256751  , 66.10593638,
       84.68535999, 58.64039979, 56.57575599, 47.26575342, 39.97738029,
       56.6954432 , 46.4745977 , 59.42079051, 60.0820114 , 73.24367619,
       60.29748338, 45.94136588, 36.27110305, 55.99789379, 64.23507726,
       46.94119004, 60.54773263, 33.33333333, 63.75010994, 48.95215222,
       82.28548555, 70.82176092, 85.61971864, 80.89184382, 70.64370461,
       46.11051488, 27.20492915, 33.34444234, 57.87763207, 48.17775929,
       48.49863794, 18.69784966, 45.98796759, 55.1667708 , 52.48031181,
       25.19019388, 11.76776128, 40.94294444, 66.32999411, 62.37180122,
       65.68386533, 50.55004043, 64.10424523, 45.03139114, 41.41856893,
       54.23421514, 62.72166771, 67.20349991, 52.40170035, 29.65376852,
       44.30904438, 47.31402874, 80.64736207, 62.47903774, 61.50336603,
       56.71394977, 52.29529642, 31.73445   , 22.12177421, 18.93124128,
       28.28609026, 31.13373033, 64.46706366, 77.12154447, 75.07786892,
       41.74453559, 19.7352058 , 33.33333333, 61.39625092, 80.18586755,
       46.85253422, 32.89685083, 21.33547166, 54.66880499, 54.86973616])

In [4]:
example_df = pd.DataFrame()
example_df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

In [10]:
help(ta.rsi)

Help on function rsi in module pandas_ta.momentum.rsi:

rsi(close, length=None, scalar=None, talib=None, drift=None, offset=None, **kwargs)
    Relative Strength Index (RSI)

    The Relative Strength Index is popular momentum oscillator used to measure the
    velocity as well as the magnitude of directional price movements.

    Sources:
        https://www.tradingview.com/wiki/Relative_Strength_Index_(RSI)

    Calculation:
        Default Inputs:
            length=14, scalar=100, drift=1
        ABS = Absolute Value
        RMA = Rolling Moving Average

        diff = close.diff(drift)
        positive = diff if diff > 0 else 0
        negative = diff if diff < 0 else 0

        pos_avg = RMA(positive, length)
        neg_avg = ABS(RMA(negative, length))

        RSI = scalar * pos_avg / (pos_avg + neg_avg)

    Args:
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 14
        scalar (float): How much to magnify. Default: 100
        talib (bool): If TA Lib is installed and talib is True, Returns the TA Lib
            version. Default: True
        drift (int): The difference period. Default: 1
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.

In [21]:
indicators = [
    "aberration", "above", "above_value", "accbands", "ad", "adosc", "adx", "alma", "amat", "ao", 
    "aobv", "apo", "aroon", "atr", "bbands", "below", "below_value", "bias", "bop", "brar", 
    "cci", "cdl_pattern", "cdl_z", "cfo", "cg", "chop", "cksp", "cmf", "cmo", "coppock", 
    "cross", "cross_value", "cti", "decay", "decreasing", "dema", "dm", "donchian", "dpo", "ebsw", 
    "efi", "ema", "entropy", "eom", "er", "eri", "fisher", "fwma", "ha", "hilo", 
    "hl2", "hlc3", "hma", "hwc", "hwma", "ichimoku", "increasing", "inertia", "jma", "kama", 
    "kc", "kdj", "kst", "kurtosis", "kvo", "linreg", "log_return", "long_run", "macd", "mad", 
    "massi", "mcgd", "median", "mfi", "midpoint", "midprice", "mom", "natr", "nvi", "obv", 
    "ohlc4", "pdist", "percent_return", "pgo", "ppo", "psar", "psl", "pvi", "pvo", "pvol", 
    "pvr", "pvt", "pwma", "qqe", "qstick", "quantile", "rma", "roc", "rsi", "rsx", 
    "rvgi", "rvi", "short_run", "sinwma", "skew", "slope", "sma", "smi", "squeeze", "squeeze_pro", 
    "ssf", "stc", "stdev", "stoch", "stochrsi", "supertrend", "swma", "t3", "td_seq", "tema", 
    "thermo", "tos_stdevall", "trima", "trix", "true_range", "tsi", "tsignals", "ttm_trend", "ui", "uo", 
    "variance", "vhf", "vidya", "vortex", "vp", "vwap", "vwma", "wcp", "willr", "wma", 
    "xsignals", "zlma", "zscore"
]

candle_patterns = [
    "2crows", "3blackcrows", "3inside", "3linestrike", "3outside", "3starsinsouth", "3whitesoldiers", "abandonedbaby", 
    "advanceblock", "belthold", "breakaway", "closingmarubozu", "concealbabyswall", "counterattack", "darkcloudcover", "doji", 
    "dojistar", "dragonflydoji", "engulfing", "eveningdojistar", "eveningstar", "gapsidesidewhite", "gravestonedoji", "hammer", 
    "hangingman", "harami", "haramicross", "highwave", "hikkake", "hikkakemod", "homingpigeon", "identical3crows", 
    "inneck", "inside", "invertedhammer", "kicking", "kickingbylength", "ladderbottom", "longleggeddoji", "longline", 
    "marubozu", "matchinglow", "mathold", "morningdojistar", "morningstar", "onneck", "piercing", "rickshawman", 
    "risefall3methods", "separatinglines", "shootingstar", "shortline", "spinningtop", "stalledpattern", "sticksandwich", "takuri", 
    "tasukigap", "thrusting", "tristar", "unique3river", "upsidegap2crows", "xsidegap3methods"
]


print(f"Pandas_ta bietet {len(indicators)} verschiedene Indikatoren")
print(f"Pandas_ta bietet {len(candle_patterns)} verschiedene Candlestick Patterns")

Pandas_ta bietet 143 verschiedene Indikatoren
Pandas_ta bietet 62 verschiedene Candlestick Patterns

In [ ]:
momentum_indicators = ["rsi", "macd", "stoch", "mom", "tsi", "adx"]
volume_indicators = ["obv", "vwap", "pvo", "ad", "mfi", "cmf"]
volatility_indicators = ["bbands", "atr", "kc", "ichimoku"] # VIX wird separat hinzugefügt
candlesticks = ["hammer", "hangingman", "morningstar", "doji", "engulfing"]

In [40]:

help(ta.ichimoku)

Help on function ichimoku in module pandas_ta.overlap.ichimoku:

ichimoku(high, low, close, tenkan=None, kijun=None, senkou=None, include_chikou=True, offset=None, **kwargs)
    Ichimoku Kinkō Hyō (ichimoku)

    Developed Pre WWII as a forecasting model for financial markets.

    Sources:
        https://www.tradingtechnologies.com/help/x-study/technical-indicator-definitions/ichimoku-ich/

    Calculation:
        Default Inputs:
            tenkan=9, kijun=26, senkou=52
        MIDPRICE = Midprice
        TENKAN_SEN = MIDPRICE(high, low, close, length=tenkan)
        KIJUN_SEN = MIDPRICE(high, low, close, length=kijun)
        CHIKOU_SPAN = close.shift(-kijun)

        SPAN_A = 0.5 * (TENKAN_SEN + KIJUN_SEN)
        SPAN_A = SPAN_A.shift(kijun)

        SPAN_B = MIDPRICE(high, low, close, length=senkou)
        SPAN_B = SPAN_B.shift(kijun)

    Args:
        high (pd.Series): Series of 'high's
        low (pd.Series): Series of 'low's
        close (pd.Series): Series of 'close's
        tenkan (int): Tenkan period. Default: 9
        kijun (int): Kijun period. Default: 26
        senkou (int): Senkou period. Default: 52
        include_chikou (bool): Whether to include chikou component. Default: True
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: Two DataFrames.
            For the visible period: spanA, spanB, tenkan_sen, kijun_sen,
                and chikou_span columns
            For the forward looking period: spanA and spanB columns

In [15]:
end = datetime.strptime('2023-01-01', '%Y-%m-%d')
start = datetime(end.year - 20, end.month, end.day)
aapl_df = yf.download('AAPL', start, end)

aapl_df.ta.rsi(cumulative=True, append=True)
aapl_df['RSI_14'] = aapl_df['RSI_14'].shift(1)

[*********************100%%**********************]  1 of 1 completed

In [17]:
aapl_df.head(20)

,Open,High,Low,Close,Adj Close,Volume,RSI_14
Date,,,,,,,
2003-01-02,0.256429,0.266429,0.256250,0.264286,0.223744,181428800,NaN
2003-01-03,0.264286,0.266607,0.260536,0.266071,0.225256,147453600,NaN
2003-01-06,0.268393,0.274643,0.265714,0.266071,0.225256,390532800,NaN
2003-01-07,0.264107,0.267857,0.258393,0.265179,0.224500,342344800,NaN
2003-01-08,0.260357,0.262679,0.257857,0.259821,0.219964,229644800,NaN
2003-01-09,0.261071,0.266429,0.258929,0.262143,0.221930,215252800,NaN
2003-01-10,0.260357,0.264643,0.258750,0.262857,0.222535,175100800,NaN
2003-01-13,0.266071,0.266071,0.256429,0.261250,0.221174,178942400,NaN
2003-01-14,0.262321,0.264643,0.258750,0.260893,0.220872,186860800,NaN
2003-01-15,0.260536,0.262500,0.254643,0.257679,0.218151,371128800,NaN
2003-01-16,0.253750,0.263571,0.253750,0.261071,0.221023,559070400,NaN
2003-01-17,0.260000,0.260000,0.251429,0.251786,0.213162,266761600,NaN
2003-01-21,0.253750,0.257321,0.250000,0.250357,0.211952,253456000,NaN
2003-01-22,0.249643,0.252679,0.246429,0.247857,0.209836,215140800,NaN
2003-01-23,0.250893,0.256429,0.249107,0.253036,0.214220,228256000,NaN
2003-01-24,0.254286,0.254286,0.242143,0.246429,0.208627,305468800,35.210561
2003-01-27,0.244286,0.258929,0.243750,0.252321,0.213615,391406400,29.661600
2003-01-28,0.254286,0.262321,0.252857,0.260357,0.220418,286255200,38.907897
2003-01-29,0.259821,0.269643,0.255357,0.266607,0.225709,373044000,48.794604
2003-01-30,0.267500,0.269107,0.255179,0.255714,0.216487,407058400,54.906867

In [6]:
nice = download_stock_df(["AAPL"])
nice.head(20)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Symbol,3ma,7ma,14ma,21ma,28ma,RSI_14,RSI_no_shift
Date,,,,,,,,,,,,,,
2003-01-02,0.256429,0.266429,0.256250,0.264286,0.223744,181428800,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-03,0.264286,0.266607,0.260536,0.266071,0.225256,147453600,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-06,0.268393,0.274643,0.265714,0.266071,0.225256,390532800,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-07,0.264107,0.267857,0.258393,0.265179,0.224500,342344800,AAPL,0.265476,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-08,0.260357,0.262679,0.257857,0.259821,0.219964,229644800,AAPL,0.265774,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-09,0.261071,0.266429,0.258929,0.262143,0.221930,215252800,AAPL,0.263690,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-10,0.260357,0.264643,0.258750,0.262857,0.222535,175100800,AAPL,0.262381,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-13,0.266071,0.266071,0.256429,0.261250,0.221174,178942400,AAPL,0.261607,0.263775,NaN,NaN,NaN,NaN,NaN
2003-01-14,0.262321,0.264643,0.258750,0.260893,0.220872,186860800,AAPL,0.262083,0.263342,NaN,NaN,NaN,NaN,NaN
2003-01-15,0.260536,0.262500,0.254643,0.257679,0.218151,371128800,AAPL,0.261667,0.262602,NaN,NaN,NaN,NaN,NaN
2003-01-16,0.253750,0.263571,0.253750,0.261071,0.221023,559070400,AAPL,0.259941,0.261403,NaN,NaN,NaN,NaN,NaN
2003-01-17,0.260000,0.260000,0.251429,0.251786,0.213162,266761600,AAPL,0.259881,0.260816,NaN,NaN,NaN,NaN,NaN
2003-01-21,0.253750,0.257321,0.250000,0.250357,0.211952,253456000,AAPL,0.256845,0.259668,NaN,NaN,NaN,NaN,NaN
2003-01-22,0.249643,0.252679,0.246429,0.247857,0.209836,215140800,AAPL,0.254405,0.257985,NaN,NaN,NaN,NaN,24.997687
2003-01-23,0.250893,0.256429,0.249107,0.253036,0.214220,228256000,AAPL,0.250000,0.255842,0.259809,NaN,NaN,24.997687,35.210561
2003-01-24,0.254286,0.254286,0.242143,0.246429,0.208627,305468800,AAPL,0.250417,0.254668,0.259005,NaN,NaN,35.210561,27.083716
2003-01-27,0.244286,0.258929,0.243750,0.252321,0.213615,391406400,AAPL,0.249107,0.252602,0.257602,NaN,NaN,27.083716,35.896867
2003-01-28,0.254286,0.262321,0.252857,0.260357,0.220418,286255200,AAPL,0.250595,0.251837,0.256620,NaN,NaN,35.896867,45.686309
2003-01-29,0.259821,0.269643,0.255357,0.266607,0.225709,373044000,AAPL,0.253036,0.251735,0.256275,NaN,NaN,45.686309,55.975268
2003-01-30,0.267500,0.269107,0.255179,0.255714,0.216487,407058400,AAPL,0.259762,0.253852,0.256760,NaN,NaN,55.975268,45.081486

In [19]:
# Define start and end dates
end = datetime.strptime('2023-01-01', '%Y-%m-%d')
start = datetime(end.year - 20, end.month, end.day)

# Download AAPL stock data
aapl_df = yf.download('AAPL', start, end)

# List of momentum indicators
momentum_indicators = ["rsi", "macd", "stoch", "mom", "tsi", "adx"]
volume_indicators = ["obv", "vwap", "pvo", "ad", "mfi", "cmf"]
volatility_indicators = ["bbands", "atr", "kc", "ichimoku"]



# Calculate each indicator and append to the DataFrame
for indicator in momentum_indicators:
    aapl_df.ta(kind=indicator, append=True)


aapl_df.head(20)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,STOCHk_14_3_3,STOCHd_14_3_3,MOM_10,TSI_13_25_13,TSIs_13_25_13,ADX_14,DMP_14,DMN_14
Date,,,,,,,,,,,,,,,,,,
2003-01-02,0.256429,0.266429,0.256250,0.264286,0.223744,181428800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-03,0.264286,0.266607,0.260536,0.266071,0.225256,147453600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-06,0.268393,0.274643,0.265714,0.266071,0.225256,390532800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-07,0.264107,0.267857,0.258393,0.265179,0.224500,342344800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-08,0.260357,0.262679,0.257857,0.259821,0.219964,229644800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-09,0.261071,0.266429,0.258929,0.262143,0.221930,215252800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-10,0.260357,0.264643,0.258750,0.262857,0.222535,175100800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-13,0.266071,0.266071,0.256429,0.261250,0.221174,178942400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-14,0.262321,0.264643,0.258750,0.260893,0.220872,186860800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-15,0.260536,0.262500,0.254643,0.257679,0.218151,371128800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-16,0.253750,0.263571,0.253750,0.261071,0.221023,559070400,NaN,NaN,NaN,NaN,NaN,NaN,-0.003215,NaN,NaN,NaN,NaN,NaN
2003-01-17,0.260000,0.260000,0.251429,0.251786,0.213162,266761600,NaN,NaN,NaN,NaN,NaN,NaN,-0.014285,NaN,NaN,NaN,NaN,NaN
2003-01-21,0.253750,0.257321,0.250000,0.250357,0.211952,253456000,NaN,NaN,NaN,NaN,NaN,NaN,-0.015714,NaN,NaN,NaN,NaN,NaN
2003-01-22,0.249643,0.252679,0.246429,0.247857,0.209836,215140800,NaN,NaN,NaN,NaN,NaN,NaN,-0.017322,NaN,NaN,NaN,NaN,NaN
2003-01-23,0.250893,0.256429,0.249107,0.253036,0.214220,228256000,35.210561,NaN,NaN,NaN,NaN,NaN,-0.006785,NaN,NaN,NaN,13.834147,19.986214
2003-01-24,0.254286,0.254286,0.242143,0.246429,0.208627,305468800,29.661600,NaN,NaN,NaN,13.888814,NaN,-0.015714,NaN,NaN,NaN,11.899897,26.260313
2003-01-27,0.244286,0.258929,0.243750,0.252321,0.213615,391406400,38.907897,NaN,NaN,NaN,25.395559,NaN,-0.010536,NaN,NaN,NaN,15.564969,22.200759
2003-01-28,0.254286,0.262321,0.252857,0.260357,0.220418,286255200,48.794604,NaN,NaN,NaN,42.589043,27.291139,-0.000893,NaN,NaN,NaN,17.718531,19.771281
2003-01-29,0.259821,0.269643,0.255357,0.266607,0.225709,373044000,54.906867,NaN,NaN,NaN,67.846461,45.277021,0.005714,NaN,NaN,NaN,23.060704,17.086316
2003-01-30,0.267500,0.269107,0.255179,0.255714,0.216487,407058400,44.856843,NaN,NaN,NaN,71.102289,60.512598,-0.001965,NaN,NaN,NaN,20.132492,15.093828

In [25]:
# Define start and end dates
end = datetime.strptime('2023-01-01', '%Y-%m-%d')
start = datetime(end.year - 20, end.month, end.day)

# Download AAPL stock data
aapl_df = yf.download('AAPL', start, end)

# List of momentum indicators
momentum_indicators = ["rsi", "macd", "stoch", "mom", "tsi", "adx"]
volume_indicators = ["obv", "vwap", "pvo", "ad", "mfi", "cmf"]
volatility_indicators = ["bbands", "atr", "kc", "ichimoku"]

# Calculate momentum indicators and append to the DataFrame
for indicator in momentum_indicators:
    aapl_df.ta(kind=indicator, append=True)

# Calculate volume indicators and append to the DataFrame
for indicator in volume_indicators:
    aapl_df.ta(kind=indicator, append=True)

# Calculate volatility indicators and append to the DataFrame
for indicator in volatility_indicators:
    aapl_df.ta(kind=indicator, append=True)

print(f"There are {len(aapl_df.columns)} Columns")
aapl_df.columns

[*********************100%%**********************]  1 of 1 completed

There are 40 Columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'RSI_14',
       'MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9', 'STOCHk_14_3_3',
       'STOCHd_14_3_3', 'MOM_10', 'TSI_13_25_13', 'TSIs_13_25_13', 'ADX_14',
       'DMP_14', 'DMN_14', 'OBV', 'VWAP_D', 'PVO_12_26_9', 'PVOh_12_26_9',
       'PVOs_12_26_9', 'AD', 'MFI_14', 'CMF_20', 'BBL_5_2.0', 'BBM_5_2.0',
       'BBU_5_2.0', 'BBB_5_2.0', 'BBP_5_2.0', 'ATRr_14', 'KCLe_20_2',
       'KCBe_20_2', 'KCUe_20_2', 'ISA_9', 'ISB_26', 'ITS_9', 'IKS_26',
       'ICS_26'],
      dtype='object')

In [16]:
# Define start and end dates
end = datetime.strptime('2023-01-01', '%Y-%m-%d')
start = datetime(end.year - 20, end.month, end.day)

# Download AAPL stock data
aapl_df = yf.download('AAPL', start, end)

# List of indicators
momentum_indicators = ["rsi", "macd", "stoch", "mom", "tsi", "adx"]
volume_indicators = ["obv", "vwap", "pvo", "ad", "mfi", "cmf"]
volatility_indicators = ["bbands", "atr", "kc", "ichimoku"]
candlestick_patterns = ["hammer", "hangingman", "morningstar", "doji", "engulfing"]

# Calculate momentum indicators and append to the DataFrame
for indicator in momentum_indicators:
    aapl_df.ta(kind=indicator, append=True)

# Calculate volume indicators and append to the DataFrame
for indicator in volume_indicators:
    aapl_df.ta(kind=indicator, append=True)

# Calculate volatility indicators and append to the DataFrame
for indicator in volatility_indicators:
    aapl_df.ta(kind=indicator, append=True)

patterns_df = aapl_df.ta.cdl_pattern(name=candlestick_patterns)
aapl_df = pd.concat([aapl_df, patterns_df], axis=1)

print(f"There are {len(aapl_df.columns)} Columns")
aapl_df.columns

[*********************100%%**********************]  1 of 1 completed

There are 45 Columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'RSI_14',
       'MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9', 'STOCHk_14_3_3',
       'STOCHd_14_3_3', 'MOM_10', 'TSI_13_25_13', 'TSIs_13_25_13', 'ADX_14',
       'DMP_14', 'DMN_14', 'OBV', 'VWAP_D', 'PVO_12_26_9', 'PVOh_12_26_9',
       'PVOs_12_26_9', 'AD', 'MFI_14', 'CMF_20', 'BBL_5_2.0', 'BBM_5_2.0',
       'BBU_5_2.0', 'BBB_5_2.0', 'BBP_5_2.0', 'ATRr_14', 'KCLe_20_2',
       'KCBe_20_2', 'KCUe_20_2', 'ISA_9', 'ISB_26', 'ITS_9', 'IKS_26',
       'ICS_26', 'CDL_HAMMER', 'CDL_HANGINGMAN', 'CDL_MORNINGSTAR',
       'CDL_DOJI_10_0.1', 'CDL_ENGULFING'],
      dtype='object')

In [17]:
aapl_df.index

DatetimeIndex(['2003-01-02', '2003-01-03', '2003-01-06', '2003-01-07',
               '2003-01-08', '2003-01-09', '2003-01-10', '2003-01-13',
               '2003-01-14', '2003-01-15',
               ...
               '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30'],
              dtype='datetime64[ns]', name='Date', length=5035, freq=None)

In [18]:
patterns_df

,CDL_HAMMER,CDL_HANGINGMAN,CDL_MORNINGSTAR,CDL_DOJI_10_0.1,CDL_ENGULFING
Date,,,,,
2003-01-02,0.0,0.0,0.0,0.0,0.0
2003-01-03,0.0,0.0,0.0,0.0,0.0
2003-01-06,0.0,0.0,0.0,0.0,0.0
2003-01-07,0.0,0.0,0.0,0.0,0.0
2003-01-08,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...
2022-12-23,0.0,0.0,0.0,0.0,0.0
2022-12-27,0.0,0.0,0.0,0.0,0.0
2022-12-28,0.0,0.0,0.0,0.0,0.0
2022-12-29,0.0,0.0,0.0,0.0,0.0
2022-12-30,0.0,0.0,0.0,0.0,0.0

In [65]:
aapl_df.head(20)

,Open,High,Low,Close,Adj Close,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,...,ISA_9,ISB_26,ITS_9,IKS_26,ICS_26,CDL_HAMMER,CDL_HANGINGMAN,CDL_MORNINGSTAR,CDL_DOJI_10_0.1,CDL_ENGULFING
Date,,,,,,,,,,,,,,,,,,,,,
2003-01-02,0.256429,0.266429,0.256250,0.264286,0.223744,181428800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.256250,0.0,0.0,0.0,0.0,0.0
2003-01-03,0.264286,0.266607,0.260536,0.266071,0.225256,147453600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.256250,0.0,0.0,0.0,0.0,0.0
2003-01-06,0.268393,0.274643,0.265714,0.266071,0.225256,390532800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.256964,0.0,0.0,0.0,0.0,0.0
2003-01-07,0.264107,0.267857,0.258393,0.265179,0.224500,342344800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.259643,0.0,0.0,0.0,0.0,0.0
2003-01-08,0.260357,0.262679,0.257857,0.259821,0.219964,229644800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.261964,0.0,0.0,0.0,0.0,0.0
2003-01-09,0.261071,0.266429,0.258929,0.262143,0.221930,215252800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.272679,0.0,0.0,0.0,0.0,0.0
2003-01-10,0.260357,0.264643,0.258750,0.262857,0.222535,175100800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.265179,0.0,0.0,0.0,0.0,0.0
2003-01-13,0.266071,0.266071,0.256429,0.261250,0.221174,178942400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.263750,0.0,0.0,0.0,0.0,0.0
2003-01-14,0.262321,0.264643,0.258750,0.260893,0.220872,186860800,NaN,NaN,NaN,NaN,...,NaN,NaN,0.265446,NaN,0.267857,0.0,0.0,0.0,0.0,0.0
2003-01-15,0.260536,0.262500,0.254643,0.257679,0.218151,371128800,NaN,NaN,NaN,NaN,...,NaN,NaN,0.264643,NaN,0.263214,0.0,0.0,0.0,0.0,0.0
2003-01-16,0.253750,0.263571,0.253750,0.261071,0.221023,559070400,NaN,NaN,NaN,NaN,...,NaN,NaN,0.264197,NaN,0.268214,0.0,0.0,0.0,0.0,100.0
2003-01-17,0.260000,0.260000,0.251429,0.251786,0.213162,266761600,NaN,NaN,NaN,NaN,...,NaN,NaN,0.259643,NaN,0.258929,0.0,0.0,0.0,0.0,0.0
2003-01-21,0.253750,0.257321,0.250000,0.250357,0.211952,253456000,NaN,NaN,NaN,NaN,...,NaN,NaN,0.258215,NaN,0.265357,0.0,0.0,0.0,0.0,0.0
2003-01-22,0.249643,0.252679,0.246429,0.247857,0.209836,215140800,NaN,NaN,NaN,NaN,...,NaN,NaN,0.256429,NaN,0.268036,0.0,0.0,0.0,0.0,0.0
2003-01-23,0.250893,0.256429,0.249107,0.253036,0.214220,228256000,35.210561,NaN,NaN,NaN,...,NaN,NaN,0.256250,NaN,0.261607,0.0,0.0,0.0,0.0,0.0
2003-01-24,0.254286,0.254286,0.242143,0.246429,0.208627,305468800,29.661600,NaN,NaN,NaN,...,NaN,NaN,0.254107,NaN,0.260000,0.0,0.0,0.0,0.0,-100.0
2003-01-27,0.244286,0.258929,0.243750,0.252321,0.213615,391406400,38.907897,NaN,NaN,NaN,...,NaN,NaN,0.253393,NaN,0.261071,0.0,0.0,0.0,0.0,0.0
2003-01-28,0.254286,0.262321,0.252857,0.260357,0.220418,286255200,48.794604,NaN,NaN,NaN,...,NaN,NaN,0.252857,NaN,0.260000,0.0,0.0,0.0,0.0,0.0
2003-01-29,0.259821,0.269643,0.255357,0.266607,0.225709,373044000,54.906867,NaN,NaN,NaN,...,NaN,NaN,0.255893,NaN,0.259464,0.0,0.0,0.0,0.0,0.0
2003-01-30,0.267500,0.269107,0.255179,0.255714,0.216487,407058400,44.856843,NaN,NaN,NaN,...,NaN,NaN,0.255893,NaN,0.256607,0.0,0.0,0.0,0.0,-100.0

In [66]:
for column in aapl_df.columns:
    print(aapl_df[column].unique())

[  0.25642899   0.26428601   0.26839301 ... 131.38000488 129.66999817
 127.98999786]
[  0.26642901   0.26660699   0.274643   ... 131.02999878 130.47999573
 129.94999695]
[  0.25624999   0.26053599   0.26571399 ... 125.87000275 127.73000336
 127.43000031]
[  0.26428601   0.26607099   0.26517901 ... 126.04000092 129.61000061
 129.92999268]
[  0.22374441   0.22525559   0.22450043 ... 125.1796875  128.72531128
 129.0431366 ]
[181428800 147453600 390532800 ...  85438400  75703700  77034200]
[        nan 35.21056129 29.66159958 ... 29.71432518 36.84537423
 37.45788661]
[            nan  1.17794781e-03  1.60799068e-03 ... -4.41770498e+00
 -4.45979809e+00 -4.41642668e+00]
[        nan  0.00168735  0.00169392 ... -1.25946359 -1.04124537
 -0.79829917]
[            nan -5.09407178e-04 -8.59276076e-05 ... -3.15824138e+00
 -3.41855272e+00 -3.61812752e+00]
[        nan 13.88881403 25.39555936 ...  5.92996966  7.46291512
 11.02349442]
[        nan 27.29113882 45.27702129 ... 10.49850666  7.59890237
  8.13879307]
[            nan -3.21501493e-03 -1.42849982e-02 ... -1.94300003e+01
 -1.36000061e+01 -6.57000732e+00]
[         nan   5.49777131   5.74200629 ... -25.32006258 -25.57680706
 -25.60117478]
[         nan   1.83624505   1.75343547 ... -15.03486896 -16.54086011
 -17.83519078]
[        nan 12.96928894 12.46090335 ... 15.68380853 16.73458824
 17.76248768]
[        nan 13.83414693 11.89989742 ... 18.44860416 17.12548239
 16.40628399]
[        nan 19.9862143  26.26031273 ... 34.56060823 32.08194411
 31.23459287]
[ 1.81428800e+08  3.28882400e+08 -1.34624000e+07 ...  1.07183764e+11
  1.07259467e+11  1.07336502e+11]
[  0.26232167   0.26440465   0.26880933 ... 127.64666748 129.27333323
 129.10332998]
[        nan -1.09247519 -4.25734718 ... -0.18626896 -0.7292722
 -1.01846716]
[        nan  0.35578209 -1.71407749 ... -1.11548358 -1.32678945
 -1.29278753]
[        nan -5.39132049 -5.81983986 ...  0.92921462  0.59751725
  0.27432037]
[ 1.05036105e+08  2.26453025e+08 -1.32851020e+08 ...  8.56367696e+10
  8.56645736e+10  8.57403848e+10]
[        nan 46.3173548  40.79134012 ... 34.12804093 34.50794971
 27.98206029]
[        nan -0.07992243 -0.08168267 ... -0.10515411 -0.14801087
 -0.1157347 ]
[         nan   0.2596289    0.25889487 ... 124.95608985 125.5488664
 125.69727286]
[         nan   0.2642856    0.263857   ... 131.1219986  129.95399933
 129.49399872]
[         nan   0.2689423    0.26881912 ... 137.28790735 134.35913225
 133.29072457]
[       nan 3.52399272 3.76122468 ... 9.40484254 6.77952652 5.86394102]
[       nan 0.0206262  0.3272909  ... 0.08789548 0.46095479 0.5574171 ]
[       nan 0.00786979 0.00817502 ... 4.42060904 4.42199374 4.2861368 ]
[         nan   0.2399194    0.24009717 ... 128.46998886 127.73284811
 127.46210061]
[         nan   0.25858925   0.25838351 ... 137.1726598  136.45240654
 135.83122427]
[         nan   0.27684761   0.27731794 ... 145.87533075 145.17196498
 144.20034793]
[         nan   0.2593305    0.2591965  ... 145.01249695 145.01499939
 146.24250031]
[         nan   0.258393     0.25767851 ... 154.05500031 152.70999908
 149.31499481]
[         nan   0.2654465    0.264643   ... 133.8350029  131.75999832
 131.34000015]
[         nan   0.258393     0.25589301 ... 141.16999817 140.70999908
 138.85000229]
[  0.25624999   0.256964     0.25964299 ... 129.61000061 129.92999268
          nan]
[  0. 100.]
[   0. -100.]
[  0. 100.]
[  0. 100.]
[   0.  100. -100.]

In [58]:
help(ta)

Help on package pandas_ta:

NAME
    pandas_ta

PACKAGE CONTENTS
    candles (package)
    core
    custom
    cycles (package)
    momentum (package)
    overlap (package)
    performance (package)
    statistics (package)
    trend (package)
    utils (package)
    volatility (package)
    volume (package)

SUBMODULES
    alphavantage
    data
    yahoofinance

FUNCTIONS
    localtime(...)
        localtime([seconds]) -> (tm_year,tm_mon,tm_mday,tm_hour,tm_min,
                                  tm_sec,tm_wday,tm_yday,tm_isdst)

        Convert seconds since the Epoch to a time tuple expressing local time.
        When 'seconds' is not passed in, convert the current time instead.

    mfloor = floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    mul(a, b, /)
        Same as a * b.

    npArray = array(...)
        array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
              like=None)

        Create an array.

        Parameters
        ----------
        object : array_like
            An array, any object exposing the array interface, an object whose
            ``__array__`` method returns an array, or any (nested) sequence.
            If object is a scalar, a 0-dimensional array containing object is
            returned.
        dtype : data-type, optional
            The desired data-type for the array. If not given, NumPy will try to use
            a default ``dtype`` that can represent the values (by applying promotion
            rules when necessary.)
        copy : bool, optional
            If true (default), then the object is copied.  Otherwise, a copy will
            only be made if ``__array__`` returns a copy, if obj is a nested
            sequence, or if a copy is needed to satisfy any of the other
            requirements (``dtype``, ``order``, etc.).
        order : {'K', 'A', 'C', 'F'}, optional
            Specify the memory layout of the array. If object is not an array, the
            newly created array will be in C order (row major) unless 'F' is
            specified, in which case it will be in Fortran order (column major).
            If object is an array the following holds.

            ===== ========= ===================================================
            order  no copy                     copy=True
            ===== ========= ===================================================
            'K'   unchanged F & C order preserved, otherwise most similar order
            'A'   unchanged F order if input is F and not C, otherwise C order
            'C'   C order   C order
            'F'   F order   F order
            ===== ========= ===================================================

            When ``copy=False`` and a copy is made for other reasons, the result is
            the same as if ``copy=True``, with some exceptions for 'A', see the
            Notes section. The default order is 'K'.
        subok : bool, optional
            If True, then sub-classes will be passed-through, otherwise
            the returned array will be forced to be a base-class array (default).
        ndmin : int, optional
            Specifies the minimum number of dimensions that the resulting
            array should have.  Ones will be prepended to the shape as
            needed to meet this requirement.
        like : array_like, optional
            Reference object to allow the creation of arrays which are not
            NumPy arrays. If an array-like passed in as ``like`` supports
            the ``__array_function__`` protocol, the result will be defined
            by it. In this case, it ensures the creation of an array object
            compatible with that passed in via this argument.

            .. versionadded:: 1.20.0

        Returns
        -------
        out : ndarray
            An array object satisfying the specified requirements.

        See Also
        --------
        empty_like : Return an empty array with shape and type of input.
        ones_like : Return an array of ones with shape and type of input.
        zeros_like : Return an array of zeros with shape and type of input.
        full_like : Return a new array with shape of input filled with value.
        empty : Return a new uninitialized array.
        ones : Return a new array setting values to one.
        zeros : Return a new array setting values to zero.
        full : Return a new array of given shape filled with value.


        Notes
        -----
        When order is 'A' and ``object`` is an array in neither 'C' nor 'F' order,
        and a copy is forced by a change in dtype, then the order of the result is
        not necessarily 'C' as expected. This is likely a bug.

        Examples
        --------
        >>> np.array([1, 2, 3])
        array([1, 2, 3])

        Upcasting:

        >>> np.array([1, 2, 3.0])
        array([ 1.,  2.,  3.])

        More than one dimension:

        >>> np.array([[1, 2], [3, 4]])
        array([[1, 2],
               [3, 4]])

        Minimum dimensions 2:

        >>> np.array([1, 2, 3], ndmin=2)
        array([[1, 2, 3]])

        Type provided:

        >>> np.array([1, 2, 3], dtype=complex)
        array([ 1.+0.j,  2.+0.j,  3.+0.j])

        Data-type consisting of more than one element:

        >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
        >>> x['a']
        array([1, 3])

        Creating an array from sub-classes:

        >>> np.array(np.mat('1 2; 3 4'))
        array([[1, 2],
               [3, 4]])

        >>> np.array(np.mat('1 2; 3 4'), subok=True)
        matrix([[1, 2],
                [3, 4]])

    perf_counter(...)
        perf_counter() -> float

        Performance counter for benchmarking.

    reduce(...)
        reduce(function, iterable[, initial]) -> value

        Apply a function of two arguments cumulatively to the items of a sequence
        or iterable, from left to right, so as to reduce the iterable to a single
        value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
        ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
        of the iterable in the calculation, and serves as a default when the
        iterable is empty.

DATA
    ALL_PATTERNS = ['2crows', '3blackcrows', '3inside', '3linestrike', '3o...
    AllStrategy = Strategy(name='All', ta=None, description='All t...teleu...
    CANGLE_AGG = {'close': 'last', 'high': 'max', 'low': 'min', 'open': 'f...
    CDL_PATTERN_NAMES = ['2crows', '3blackcrows', '3inside', '3linestrike'...
    Category = {'candles': ['cdl_pattern', 'cdl_z', 'ha'], 'cycles': ['ebs...
    CommonStrategy = Strategy(name='Common Price and Volume SMAs', ta...te...
    EXCHANGE_TZ = {'ASX': 11, 'BMF': -2, 'DIFX': 4, 'FWB': 1, 'HKE': 8, 'J...
    Imports = {'alphaVantage-api': False, 'matplotlib': True, 'mplfinance'...
    List = typing.List
        A generic version of list.

    Optional = typing.Optional
        Optional[X] is equivalent to Union[X, None].

    RATE = {'DAYS_PER_MONTH': 21, 'MINUTES_PER_HOUR': 60, 'MONTHS_PER_YEAR...
    Tuple = typing.Tuple
        Deprecated alias to builtins.tuple.

        Tuple[X, Y] is the cross-product type of X and Y.

        Example: Tuple[T1, T2] is a tuple of two elements corresponding
        to type variables T1 and T2.  Tuple[int, float, str] is a tuple
        of an int, a float and a string.

        To specify a variable-length tuple of homogeneous type, use Tuple[T, ...].

    __warningregistry__ = {'version': 64}
    df = Empty DataFrame
    Columns: []
    Index: []
    here = WindowsPath('c:/Users/rapha/anaconda3/envs/stocks/Lib/site-pack...
    name = 'pandas_ta'
    npExp = <ufunc 'exp'>
        exp(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Calculate the exponential of all elements in the input array.

        Parameters
        ----------
        x : array_like
            Input values.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        out : ndarray or scalar
            Output array, element-wise exponential of `x`.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        expm1 : Calculate ``exp(x) - 1`` for all elements in the array.
        exp2  : Calculate ``2**x`` for all elements in the array.

        Notes
        -----
        The irrational number ``e`` is also known as Euler's number.  It is
        approximately 2.718281, and is the base of the natural logarithm,
        ``ln`` (this means that, if :math:`x = \ln y = \log_e y`,
        then :math:`e^x = y`. For real input, ``exp(x)`` is always positive.

        For complex arguments, ``x = a + ib``, we can write
        :math:`e^x = e^a e^{ib}`.  The first term, :math:`e^a`, is already
        known (it is the real argument, described above).  The second term,
        :math:`e^{ib}`, is :math:`\cos b + i \sin b`, a function with
        magnitude 1 and a periodic phase.

        References
        ----------
        .. [1] Wikipedia, "Exponential function",
               https://en.wikipedia.org/wiki/Exponential_function
        .. [2] M. Abramovitz and I. A. Stegun, "Handbook of Mathematical Functions
               with Formulas, Graphs, and Mathematical Tables," Dover, 1964, p. 69,
               https://personal.math.ubc.ca/~cbm/aands/page_69.htm

        Examples
        --------
        Plot the magnitude and phase of ``exp(x)`` in the complex plane:

        >>> import matplotlib.pyplot as plt

        >>> x = np.linspace(-2*np.pi, 2*np.pi, 100)
        >>> xx = x + 1j * x[:, np.newaxis] # a + ib over complex plane
        >>> out = np.exp(xx)

        >>> plt.subplot(121)
        >>> plt.imshow(np.abs(out),
        ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='gray')
        >>> plt.title('Magnitude of exp(x)')

        >>> plt.subplot(122)
        >>> plt.imshow(np.angle(out),
        ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='hsv')
        >>> plt.title('Phase (angle) of exp(x)')
        >>> plt.show()

    npFabs = <ufunc 'fabs'>
        fabs(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Compute the absolute values element-wise.

        This function returns the absolute values (positive magnitude) of the
        data in `x`. Complex values are not handled, use `absolute` to find the
        absolute values of complex data.

        Parameters
        ----------
        x : array_like
            The array of numbers for which the absolute values are required. If
            `x` is a scalar, the result `y` will also be a scalar.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        y : ndarray or scalar
            The absolute values of `x`, the returned values are always floats.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        absolute : Absolute values including `complex` types.

        Examples
        --------
        >>> np.fabs(-1)
        1.0
        >>> np.fabs([-1.2, 1.2])
        array([ 1.2,  1.2])

    npLog = <ufunc 'log'>
        log(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Natural logarithm, element-wise.

        The natural logarithm `log` is the inverse of the exponential function,
        so that `log(exp(x)) = x`. The natural logarithm is logarithm in base
        `e`.

        Parameters
        ----------
        x : array_like
            Input value.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        y : ndarray
            The natural logarithm of `x`, element-wise.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        log10, log2, log1p, emath.log

        Notes
        -----
        Logarithm is a multivalued function: for each `x` there is an infinite
        number of `z` such that `exp(z) = x`. The convention is to return the
        `z` whose imaginary part lies in `(-pi, pi]`.

        For real-valued input data types, `log` always returns real output. For
        each value that cannot be expressed as a real number or infinity, it
        yields ``nan`` and sets the `invalid` floating point error flag.

        For complex-valued input, `log` is a complex analytical function that
        has a branch cut `[-inf, 0]` and is continuous from above on it. `log`
        handles the floating-point negative zero as an infinitesimal negative
        number, conforming to the C99 standard.

        In the cases where the input has a negative real part and a very small
        negative complex part (approaching 0), the result is so close to `-pi`
        that it evaluates to exactly `-pi`.

        References
        ----------
        .. [1] M. Abramowitz and I.A. Stegun, "Handbook of Mathematical Functions",
               10th printing, 1964, pp. 67.
               https://personal.math.ubc.ca/~cbm/aands/page_67.htm
        .. [2] Wikipedia, "Logarithm". https://en.wikipedia.org/wiki/Logarithm

        Examples
        --------
        >>> np.log([1, np.e, np.e**2, 0])
        array([  0.,   1.,   2., -Inf])

    npLog10 = <ufunc 'log10'>
        log10(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Return the base 10 logarithm of the input array, element-wise.

        Parameters
        ----------
        x : array_like
            Input values.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        y : ndarray
            The logarithm to the base 10 of `x`, element-wise. NaNs are
            returned where x is negative.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        emath.log10

        Notes
        -----
        Logarithm is a multivalued function: for each `x` there is an infinite
        number of `z` such that `10**z = x`. The convention is to return the
        `z` whose imaginary part lies in `(-pi, pi]`.

        For real-valued input data types, `log10` always returns real output.
        For each value that cannot be expressed as a real number or infinity,
        it yields ``nan`` and sets the `invalid` floating point error flag.

        For complex-valued input, `log10` is a complex analytical function that
        has a branch cut `[-inf, 0]` and is continuous from above on it.
        `log10` handles the floating-point negative zero as an infinitesimal
        negative number, conforming to the C99 standard.

        In the cases where the input has a negative real part and a very small
        negative complex part (approaching 0), the result is so close to `-pi`
        that it evaluates to exactly `-pi`.

        References
        ----------
        .. [1] M. Abramowitz and I.A. Stegun, "Handbook of Mathematical Functions",
               10th printing, 1964, pp. 67.
               https://personal.math.ubc.ca/~cbm/aands/page_67.htm
        .. [2] Wikipedia, "Logarithm". https://en.wikipedia.org/wiki/Logarithm

        Examples
        --------
        >>> np.log10([1e-15, -3.])
        array([-15.,  nan])

    npNaN = nan
    npSqrt = <ufunc 'sqrt'>
        sqrt(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Return the non-negative square-root of an array, element-wise.

        Parameters
        ----------
        x : array_like
            The values whose square-roots are required.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.

In [33]:
help(ta.cdl_pattern)

Help on function cdl_pattern in module pandas_ta.candles.cdl_pattern:

cdl_pattern(open_, high, low, close, name: Union[str, Sequence[str]] = 'all', scalar=None, offset=None, **kwargs) -> pandas.core.frame.DataFrame
    Candle Pattern

    A wrapper around all candle patterns.

    Examples:

    Get all candle patterns (This is the default behaviour)
    >>> df = df.ta.cdl_pattern(name="all")
    Or
    >>> df.ta.cdl("all", append=True) # = df.ta.cdl_pattern("all", append=True)

    Get only one pattern
    >>> df = df.ta.cdl_pattern(name="doji")
    Or
    >>> df.ta.cdl("doji", append=True)

    Get some patterns
    >>> df = df.ta.cdl_pattern(name=["doji", "inside"])
    Or
    >>> df.ta.cdl(["doji", "inside"], append=True)

    Args:
        open_ (pd.Series): Series of 'open's
        high (pd.Series): Series of 'high's
        low (pd.Series): Series of 'low's
        close (pd.Series): Series of 'close's
        name: (Union[str, Sequence[str]]): name of the patterns
        scalar (float): How much to magnify. Default: 100
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: one column for each pattern.

In [30]:
def get_indicators(symbol, start, end):

    momentum_indicators = ["rsi", "macd", "stoch", "mom", "tsi", "adx"]
    volume_indicators = ["obv", "vwap", "pvo", "ad", "mfi", "cmf"]
    volatility_indicators = ["bbands", "atr", "kc"] # Ichimoku separat wegen potenziellem Data Leakage
    candlestick_patterns = ["hammer", "hangingman", "morningstar", "doji", "engulfing"]

    df = yf.download(symbol, start, end)

    for indicator in momentum_indicators:
        df.ta(kind=indicator, append=True)
    
    for indicator in volume_indicators:
        df.ta(kind=indicator, append=True)
    
    for indicator in volatility_indicators:
        df.ta(kind=indicator, append=True)

    ichimoku = ta.ichimoku(high=df['High'], low=df['Low'], close=df['Close'], lookahead=False)
    ichimoku_visible = ichimoku[0]
    df = pd.concat([df, ichimoku_visible], axis=1)


    patterns_df = df.ta.cdl_pattern(name=candlestick_patterns)
    df = pd.concat([df, patterns_df], axis=1)

    return df


end = datetime.strptime('2023-01-01', '%Y-%m-%d')
start = datetime(end.year - 20, end.month, end.day)

aapl_df = get_indicators('AAPL', start, end)

aapl_df.head(100)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,...,KCUe_20_2,ISA_9,ISB_26,ITS_9,IKS_26,CDL_HAMMER,CDL_HANGINGMAN,CDL_MORNINGSTAR,CDL_DOJI_10_0.1,CDL_ENGULFING
Date,,,,,,,,,,,,,,,,,,,,,
2003-01-02,0.256429,0.266429,0.256250,0.264286,0.223744,181428800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2003-01-03,0.264286,0.266607,0.260536,0.266071,0.225256,147453600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2003-01-06,0.268393,0.274643,0.265714,0.266071,0.225256,390532800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2003-01-07,0.264107,0.267857,0.258393,0.265179,0.224500,342344800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2003-01-08,0.260357,0.262679,0.257857,0.259821,0.219964,229644800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-05-20,0.323214,0.324286,0.314286,0.317679,0.268947,416220000,65.951000,0.020457,0.002233,0.018224,...,0.326862,0.249821,0.252054,0.324107,0.283304,0.0,0.0,0.0,0.0,0.0
2003-05-21,0.317679,0.323036,0.315536,0.318750,0.269854,305009600,66.430634,0.019224,0.000800,0.018424,...,0.327518,0.249821,0.252054,0.326875,0.283304,0.0,0.0,0.0,100.0,0.0
2003-05-22,0.319464,0.328571,0.316786,0.325714,0.275749,178460800,69.444643,0.018594,0.000136,0.018458,...,0.329591,0.249821,0.252054,0.326875,0.283304,0.0,0.0,0.0,0.0,0.0
2003-05-23,0.325179,0.329643,0.320714,0.327143,0.276959,206718400,70.039101,0.018003,-0.000364,0.018367,...,0.331059,0.249732,0.251964,0.326875,0.283304,0.0,0.0,0.0,0.0,0.0
2003-05-27,0.320714,0.337500,0.319821,0.337143,0.285425,290130400,73.870138,0.018132,-0.000188,0.018320,...,0.335006,0.247947,0.250179,0.326875,0.285625,0.0,0.0,0.0,0.0,0.0

In [4]:
msft_df = yf.download('MSFT', start, end)

[*********************100%%**********************]  1 of 1 completed

In [5]:
ichimoku = ta.ichimoku(high=msft_df['High'], low=msft_df['Low'], close=msft_df['Close'], lookahead=False)

In [21]:
ichimoku[0].head(500)

                ISA_9  ISB_26      ITS_9     IKS_26
Date
2003-01-02        NaN     NaN        NaN        NaN
2003-01-03        NaN     NaN        NaN        NaN
2003-01-06        NaN     NaN        NaN        NaN
2003-01-07        NaN     NaN        NaN        NaN
2003-01-08        NaN     NaN        NaN        NaN
...               ...     ...        ...        ...
2004-12-20  28.917500   28.41  27.099999  28.150001
2004-12-21  28.995000   28.47  27.099999  26.800000
2004-12-22  28.700001   28.47  27.090000  26.770000
2004-12-23  28.625000   28.47  27.090000  26.770000
2004-12-27  28.625000   28.47  27.090000  26.770000

[500 rows x 4 columns]

In [11]:
ichimoku[1]

                 ISA_9      ISB_26
2023-01-02  237.594997  236.914993
2023-01-03  237.699997  233.829994
2023-01-04  237.699997  232.414993
2023-01-05  237.699997  232.234993
2023-01-06  240.430000  234.379997
2023-01-09  240.969997  234.774994
2023-01-10  240.969997  234.774994
2023-01-11  240.969997  234.774994
2023-01-12  240.969997  234.774994
2023-01-13  240.969997  234.774994
2023-01-16  240.969997  234.774994
2023-01-17  240.969997  234.774994
2023-01-18  241.382496  234.774994
2023-01-19  247.832508  238.675003
2023-01-20  248.595009  238.675003
2023-01-23  248.595009  238.675003
2023-01-24  251.262508  238.675003
2023-01-25  251.045010  238.675003
2023-01-26  250.972507  238.675003
2023-01-27  250.972507  238.675003
2023-01-30  248.895004  238.675003
2023-01-31  248.895004  238.675003
2023-02-01  248.562500  238.675003
2023-02-02  246.465000  238.675003
2023-02-03  245.375000  238.675003
2023-02-06  244.320000  238.675003

In [9]:
help(ta.ichimoku)

Help on function ichimoku in module pandas_ta.overlap.ichimoku:

ichimoku(high, low, close, tenkan=None, kijun=None, senkou=None, include_chikou=True, offset=None, **kwargs)
    Ichimoku Kinkō Hyō (ichimoku)

    Developed Pre WWII as a forecasting model for financial markets.

    Sources:
        https://www.tradingtechnologies.com/help/x-study/technical-indicator-definitions/ichimoku-ich/

    Calculation:
        Default Inputs:
            tenkan=9, kijun=26, senkou=52
        MIDPRICE = Midprice
        TENKAN_SEN = MIDPRICE(high, low, close, length=tenkan)
        KIJUN_SEN = MIDPRICE(high, low, close, length=kijun)
        CHIKOU_SPAN = close.shift(-kijun)

        SPAN_A = 0.5 * (TENKAN_SEN + KIJUN_SEN)
        SPAN_A = SPAN_A.shift(kijun)

        SPAN_B = MIDPRICE(high, low, close, length=senkou)
        SPAN_B = SPAN_B.shift(kijun)

    Args:
        high (pd.Series): Series of 'high's
        low (pd.Series): Series of 'low's
        close (pd.Series): Series of 'close's
        tenkan (int): Tenkan period. Default: 9
        kijun (int): Kijun period. Default: 26
        senkou (int): Senkou period. Default: 52
        include_chikou (bool): Whether to include chikou component. Default: True
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: Two DataFrames.
            For the visible period: spanA, spanB, tenkan_sen, kijun_sen,
                and chikou_span columns
            For the forward looking period: spanA and spanB columns

In [7]:
ichimoku[1].head(30)

                 ISA_9      ISB_26
2023-01-02  237.594997  236.914993
2023-01-03  237.699997  233.829994
2023-01-04  237.699997  232.414993
2023-01-05  237.699997  232.234993
2023-01-06  240.430000  234.379997
2023-01-09  240.969997  234.774994
2023-01-10  240.969997  234.774994
2023-01-11  240.969997  234.774994
2023-01-12  240.969997  234.774994
2023-01-13  240.969997  234.774994
2023-01-16  240.969997  234.774994
2023-01-17  240.969997  234.774994
2023-01-18  241.382496  234.774994
2023-01-19  247.832508  238.675003
2023-01-20  248.595009  238.675003
2023-01-23  248.595009  238.675003
2023-01-24  251.262508  238.675003
2023-01-25  251.045010  238.675003
2023-01-26  250.972507  238.675003
2023-01-27  250.972507  238.675003
2023-01-30  248.895004  238.675003
2023-01-31  248.895004  238.675003
2023-02-01  248.562500  238.675003
2023-02-02  246.465000  238.675003
2023-02-03  245.375000  238.675003
2023-02-06  244.320000  238.675003

In [98]:
ichimoku[1].shape

(26, 2)